# /assets/*
/upload/nim/*
!/upload/nim/stay.txt
/upload/ktp/*
!/upload/ktp/stay.txt
/upload/ktp/*
!/upload/profile/profile_small.jpg
/upload/profile/*
/application/vendor
/application/composer.lock
/application/config/database.php
